
body {
    background: white url("images/background.png") repeat right bottom;
}
.page_title {
	text-align: center;
	margin: 50px auto 20px;
}
ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
li a {
    background-color: red;
    color: white;
    line-height: 2;
    padding: 2px 8px;    
}
